.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.detail {
  padding-bottom: 20px;
}

.about-text {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff !important;
}

.about-text-small {
  text-align: left;
  font-size: 12px !important;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff !important;
}


@media screen and (max-width: 480px) {
  .container.about-container {
    margin-top: 80%;
  }
}

@media screen and (max-width: 1360px) and (min-width: 641px){
  .container.about-container {
    top: 50%;
  }
}

@media screen and (max-width: 640px) and (min-width: 481px) {
  .container.about-container {
    top: 55%;
  }
}

@media screen and (max-height: 100px) {
  .container.about-container {
    top: 100%;
  }
}

.about-text-subtitle {
  font-size: 16px !important;
  font-weight: bold;
}